.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-content: center;
}

.iconTitleContainer {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title {
  text-transform: uppercase;
  font-size: 30px;
}
