@import '../../../../_styles/breakpoints.module.scss';

.wrapper {
  width: 80vw;
  height: 100%;
  background-color: white;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);

  &_inner {
    position: absolute;
    left: 15%;
    top: 5%;
  }

  @include tablet {
    &_inner {
      left: 13%;
    }
  }
}

.close_button {
  cursor: pointer;
}
