@import './../../breakpoints.scss';

.swiperWrapper {
  width: 100vw;
  height: 100%;
  margin-bottom: 2rem;
}

// .swiper {
// }

// .activeSlide {
// }

.nextSlide {
  @media (min-width: $layout-breakpoint-desktop) {
    opacity: 0.5;
    transform: scale(0.7) !important;
  }
}

.prevSlide {
  @media (min-width: $layout-breakpoint-desktop) {
    opacity: 0.5;
    transform: scale(0.7) !important;
  }
}

