@import '../../_styles/breakpoints.module.scss';

.swiperWrapper {
  width: 100vw;
  height: 100%;
  margin-bottom: 2rem;
}


// .activeSlide {
// }

.nextSlide {
  @include desktop {
    opacity: 0.5;
    transform: scale(0.7) !important;
  }
}

.prevSlide {
  @include desktop {
    opacity: 0.5;
    transform: scale(0.7) !important;
  }
}

